<div><h1>LOGIN</h1></div>
@if (isFormVisible()){
<div>FORM IS SUBMITTED</div>
} @else {
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="input-wrapper">
    <label for="userName">USER NAME</label>
    <input type="text" id="userName" formControlName="userName" />
  </div>
  <div class="input-wrapper">
    <label for="password">PASSWORD</label>
    <input type="password" id="password" formControlName="password" />
  </div>
  <div class="button-wrapper">
    <button type="submit" [disabled]="loginForm.invalid">SUBMIT</button>
  </div>
</form>
}

